# Основные зависимости
numpy>=1.26.0,<2.0.0
matplotlib==3.8.3
scipy==1.12.0
requests==2.31.0
python-dotenv==1.0.1
pyTelegramBotAPI==4.16.1
pymongo==4.6.2

# Для работы с картами и визуализацией
folium==0.15.1
polyline==2.0.1
Pillow==10.2.0

# Для работы с браузером
selenium==4.18.1
webdriver-manager==4.0.1